alembic==1.6.2
appdirs==1.4.4
certifi==2020.4.5.1
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
distlib==0.3.1
fastapi==0.63.0
filelock==3.0.12
greenlet==1.1.0
h11==0.12.0
identify==2.2.4
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
nodeenv==1.6.0
numpy==1.20.2
pandas==1.2.4
pre-commit==2.12.1
pycodestyle==2.7.0
pydantic==1.8.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
SQLAlchemy==1.4.14
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
virtualenv==20.4.6
Werkzeug==1.0.1
